@import "../../../scss/mixins";
@import "color-constants";

#bc-minimized-indicator {
    display: none;
    width: 50px;
    height: 50px;
    background-color: $sky;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 40px;
    @include bc-box-shadow(-1px 2px 30px 3px $alfa40);
    @include bc-transition(all 0.5s ease);

    &:after {
        content: "";
        width: 0;
        height: 0;
        background-color: transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $sky;
        position: absolute;
        right: 0;
        bottom: -10px;
    }
}

#bc-layered-chat.bc-minimized {
    height: 0;
    @include bc-box-shadow(none);
}

.bc-minimized {

    #bc-minimized-indicator {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        text-align: center;
        color: $morning;

        &:hover {
            color: $nightfall;
            @include bc-box-shadow(-1px 2px 30px 3px $alfa);
        }

        &.bc-notify {
            @include bc-animation(bc-pulse 1s ease-out 0s 3);

            &::before {
                text-align: center;
                font-weight: bold;
                font-size: 25px;
                text-transform: uppercase;
                content: "!";
                line-height: 45px;
            }
        }
    }

    #bc-chat-actions {
        display: none;
    }
}

@include bc-keyframes(bc-pulse) {
    0% {
        @include bc-transform(scale(1, 1));
    }
    50% {
        @include bc-transform(scale(1.5, 1.5));
        opacity: 0.8;
    }
    100% {
        @include bc-transform(scale(1, 1));
    }
}
