@import "../../../scss/mixins";
@import "color-constants";

$title-font-height: 13px;

#bc-chat-history {
    top: $title-font-height * 3;
}

#bc-title {
    padding: $title-font-height;
    font-size: $title-font-height;
    color: $midnight;
    background-color: $evening;

    button {
        margin-left: 18px;
    }
}

#bc-end-chat, #bc-min-chat {
    font-size: $title-font-height;
    float: right;
    border: none;
    background-color: transparent;
    color: $nightfall;
    padding: 0;
    margin: 0;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
    width: 15px;
    height: 15px;
    @include bc-transition(0.2s ease-in-out);

    &:hover {
        color: $midnight;
    }

    &:focus {
        outline: 0;
    }
}

#bc-min-chat,
#bc-end-chat {
    cursor: pointer;
    opacity: 0.3;
}

#bc-min-chat:hover,
#bc-end-chat:hover {
    cursor: pointer;
    opacity: 1;
    @include bc-transform(scale(1.5, 1.5));
}

#bc-min-chat {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wcNFhkk0F6SnAAAACZpVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOV5F9bAAABGElEQVRIx+3WMU7DMBiG4RdUBshQEG1mxgquwMqGOnMkLkFp525la0uI4ASQ5gRMiJ0NhcWWLMexk2B3ST7pH6Jf9mNbiRXoWg5ajDkCboBYPH8CCVCEXOgAeBWIWg+hT+jagMo6azLRYUP41NIbhoS9pYe7B0+AN+ALuP/nwiJgAXwDK+XCKeVSgOq3OdfwW8t3fKGhqdbPq/C8YsJHBa8Dm1BZT6ZjKSwlcRdsQwtx7KUkDnwGTC39Kwcq5yjlHHh3DMxb9gpgDRxXvWCjGnib2thQFf/wiG7roL7xRqgv/LkNKjMGsn2jKr5rgCbAia87vS7uFZWJHfhLCFTFTRdFGhJV8UzbabSPH3rE7u6AH2AJ/NLHkT+bR/wtrNzeyQAAAABJRU5ErkJggg==');
}

#bc-end-chat {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wcNFhcgSbB7CwAAACZpVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOV5F9bAAABSUlEQVRIx+3XPS8EURTG8X9sSNj4AiglJKJZep9CIaL3rlNaLwWlT7AllUaiIjYUCq2KqOlsQedlNfckk8mde8+ZuQnFnuR089xfMmdOZgZ69U9qChgtkRsGGsCANVgDWkAX+ARWDNkG8OqyD8CIBT1xwWyvKtG3XO5Rg9eAUw+qwX2o9FNsZLsBNISHUOn7ENxWwD+5mWtQyfUXwWuKA7K4Fu0CF7E5Hxrwd+W1d27FSIUnRVPiZjQFXhqtgldGpVoG9DkValkZ6fW/QKU3yqIzFVDpzTJoJ9Eeq/HZhKj0VgydNqCXwJ4BXw7B58pDroBBl9lRZj7c+95bZ4oDrjOoVFOR6wB9RfB45nvJ121gqCAbuu3fwEJszpPAiyd8A9Qj2f0CdEn7ZE/k8FsFKnWQyX0Bi9ZdHgOOgG3PTGM1DxwDc71fE6lfKYRxdJxa9yQAAAAASUVORK5CYII=');
}
