@import "../../../scss/mixins";
@import "color-constants";

#bc-chat {
    input, textarea {
        height: 25px;
    }
}

.bc-input-placeholder {
    position: relative;
    display: block;
    width: 100%;

    input {
        text-indent: 7px;
    }

    input, textarea {
        width: 100%;
        color: $midnight;
        padding: 0;
        font-size: 15px;
        text-align: left;
        vertical-align: baseline;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        background-color: transparent;
        border-top: 0;
        border-bottom: 1px solid $evening;
        border-right: 1px solid $evening;
        border-left: 1px solid $evening;
        @include bc-transition(0.2s ease-in-out);
        @include bc-box-shadow(0 0 0);
    }

    &:before {
        content: "";
        display:block;
        height:70%;
        width:1px;
        padding:0;margin:0;
        background-color:white;
        position: absolute;
        left: 0;
        top: 0
    }

    &:after {
        content: "";
        display:block;
        height:70%;
        width:1px;
        padding:0;margin:0;
        background-color:white;
        position: absolute;
        right: -2px;
        top: 0
    }

    label {
        color: $storm;
        position: absolute;
        top: 5px;
        left: 9px;
        font-size: 15px;
        font-weight: normal;
        @include bc-transition(0.2s ease-in-out);
        cursor: text;
    }

    input:focus,
    textarea:focus {
        border-bottom: 1px solid $sky;
        border-right: 1px solid $sky;
        border-left: 1px solid $sky;
        border-top: 0;
        background-color: transparent;
        @include bc-box-shadow(0 0 0);
        @include bc-transition(0.2s ease-in-out);
    }

    input:focus + label,
    textarea:focus + label,
    input.bc-not-empty + label,
    textarea.bc-not-empty + label {
        font-size: 12px;
        top: -12px;
        color: $nightfall;
        @include bc-transition(0.2s ease-in-out);
    }

    textarea:focus,
    textarea.bc-not-empty {
        height: 40px;
        padding-top: 8px;
        padding-bottom: 5px;
        @include bc-transition(0.2s ease-in-out);
    }

}

