@import "color-constants";

#bc-chat-actions {
    background-color: $morning;

    .bc-send-msg-col1, .bc-send-msg-col2 {
        padding: 12px;
    }

    #bc-send-msg-text, #bc-send-msg-btn {
        font-size: 15px;
    }

    #bc-send-msg-btn {
        color: $sky;

        &:hover {
            color: $midnight;
        }
    }
}

#bc-send-msg-text {
    height: 1.5em;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

#bc-send-msg-btn {
    height: 1.5em;
    border: 0;
    background-color: transparent;
}

