@charset "UTF-8";
#bc-chat,
#bc-chat input[type="button"],
#bc-chat button,
#bc-chat input,
#bc-chat textarea,
#bc-chat select {
  font-family: helvetica, sans-serif;
}

.bc-clear {
  clear: both;
  height: 0;
}

.bc-boldchat-logo {
  float: right;
  margin-right: 10px;
  width: 103px;
  height: 12px;
  background-image: url("../../images/bc-logo.gif");
  background-size: 103px 12px;
}

.bc-mar-right {
  margin-right: 3px;
}

.bc-center {
  text-align: center;
}

.bc-vert-bottom {
  vertical-align: bottom;
}

.bc-error {
  color: #ff6464;
}

.bc-bold {
  font-weight: bold;
}

.bc-hide {
  display: none;
  visibility: hidden;
}

.height0 {
  height: 0;
}

.bc-hidden {
  display: none !important;
}

.bc-fade-visible {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1 !important;
}

.bc-busy {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: wait;
  opacity: 0.3;
}

.bc-busy-img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: url("../../images/loading.gif") repeat center center;
  -webkit-background-size: 100px;
  background-size: 100px;
  z-index: 5;
  opacity: 1;
}

@media (max-width: 650px) {
  #bc-layered-chat .bc-busy-img {
    width: 75px;
    height: 75px;
    -webkit-background-size: 75px;
    background-size: 75px;
  }
}

@supports (padding: constant(safe-area-inset-left)) {
  div#bc-layered-chat,
  div#bc-popup-chat {
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-top: constant(safe-area-inset-top);
    width: 100%;
  }
  div#bc-chat-actions {
    padding-bottom: constant(safe-area-inset-bottom);
  }
}

#bc-layered-chat,
#bc-popup-chat {
  height: 100%;
  position: fixed;
  z-index: 1000001;
  margin: auto;
  padding: 0;
  background-color: #bbbbbb;
  color: black;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#bc-layered-chat textarea,
#bc-popup-chat textarea {
  resize: none;
}

#bc-popup-chat {
  top: 0;
  left: 0;
  width: 100%;
}

#bc-layered-chat {
  right: 0;
  bottom: 0;
  width: 350px;
  max-height: 500px;
  -webkit-transition: height ease-in-out 0.5s;
  -moz-transition: height ease-in-out 0.5s;
  -ms-transition: height ease-in-out 0.5s;
  -o-transition: height ease-in-out 0.5s;
  transition: height ease-in-out 0.5s;
}

@media (max-width: 768px) {
  #bc-layered-chat {
    left: 0;
    width: auto;
    height: 100%;
    max-height: 100vh;
  }
}

#bc-chat {
  line-height: initial;
  text-align: left;
}

/* necessary to hide existing floating button on page */
.bc-hide-buttons,
div[name="bt_invite_box"],
div[name="bc-invite-box"],
div.bcStatic,
div.bcFloat {
  opacity: 0 !important;
  display: none !important;
}

#bc-chat-history {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 10px;
  overflow-y: scroll;
}

#bc-queue-wrap {
  position: absolute;
  margin-top: -18px;
  font-size: .75em;
}

#bc-chat-actions {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  position: absolute;
  bottom: -110px;
  display: inline-block;
  border-top: solid 1px #bbbbbb;
  -webkit-transition: height ease-in-out 0.2s;
  -moz-transition: height ease-in-out 0.2s;
  -ms-transition: height ease-in-out 0.2s;
  -o-transition: height ease-in-out 0.2s;
  transition: height ease-in-out 0.2s;
}

#bc-chat-actions .bc-table {
  display: table;
  width: 100%;
}

#bc-chat-actions .bc-row {
  display: table-row;
  width: 100%;
  height: 100%;
}

#bc-chat-actions .bc-cell {
  display: table-cell;
  padding: 5px;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

#bc-chat-actions .bc-cell-left {
  position: relative;
}

#bc-chat-actions .bc-cell-right {
  white-space: nowrap;
}

#bc-send-msg-text {
  width: 100%;
  height: 56px;
  resize: none;
}

textarea#bc-send-msg-text {
  background: white !important;
}

#bc-end-chat {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
}

#bc-popup-chat #bc-min-chat {
  display: none;
  visibility: hidden;
}

#bc-min-chat {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
}

#bc-send-msg-btn {
  height: 62px;
  outline: none;
  padding: 0;
  margin: 0;
}

.bc-msg {
  margin: 10px;
  padding: 10px;
  background-color: #FFF;
}

.bc-msg-avatar {
  object-fit: cover;
  max-width: 36px;
  max-height: 36px;
  float: left;
  margin-right: 10px;
  -webkit-background-origin: border-box;
  background-origin: border-box;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.bc-msg-time {
  float: right;
}

.bc-form-intro {
  padding-bottom: 10px;
  text-align: center;
}

div.bc-input-container {
  clear: both;
  padding-bottom: 0;
}

.bc-input-container.bc-form-intro {
  padding-bottom: 7px;
}

.bc-input-label {
  margin-right: 10px;
  vertical-align: top;
}

.bc-input-container > select {
  width: 100%;
  margin: initial;
}

#bc-chat label {
  font-weight: normal;
  line-height: initial;
  text-align: left;
}

#bc-chat input {
  height: initial;
  line-height: initial;
  text-align: left;
}

#bc-chat,
#bc-chat input[type="button"],
#bc-chat button,
#bc-chat input,
#bc-chat textarea,
#bc-chat select {
  font-family: helvetica, sans-serif;
}

.bc-star-label {
  float: left;
  margin-top: 8px;
  width: 50%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.bc-starrating-component {
  float: right;
  display: inline-block;
  width: 50%;
}

.bc-star-val {
  float: right;
  display: none !important;
}

.bc-star:before {
  margin: 3px;
  font-weight: bold;
  font-size: 1.35em;
  display: inline-block;
  content: "★";
}

.bc-star {
  color: gray;
  float: right;
  cursor: pointer;
  padding: 0;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.bc-starrating-component > .bc-star-val:checked ~ .bc-star,
.bc-starrating-component:not(:checked) .bc-star:hover,
.bc-starrating-component:not(:checked) .bc-star:hover ~ .bc-star {
  color: #FFD700;
}

/* hover previous stars in list */
.bc-starrating-component > .bc-star-val:checked + .bc-star:hover,
.bc-starrating-component > .bc-star-val:checked ~ .bc-star:hover,
.bc-starrating-component > .bc-star:hover ~ .bc-star-val:checked ~ .bc-star,
.bc-starrating-component > .bc-star-val:checked ~ label:hover ~ .bc-star {
  color: #FFED85;
}

.bc-label-and-star {
  clear: both;
}

.bc-help-message {
  margin: 0 0 20px 0;
  max-height: 10000em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bc-nps-interface {
  width: 100%;
}

.bc-nps-header {
  font-weight: bold;
}

.bc-nps-message-left {
  width: 105px;
  float: left;
  margin: 0;
}

.bc-nps-message-right {
  width: 105px;
  text-align: right;
  float: right;
  margin: 0;
}

.bc-nps-radios {
  text-align: center;
}

.bc-unchecked-radio {
  background: white;
  color: #bbbbbb;
}

.bc-checked-radio {
  background: black;
  color: white;
}

.bc-radio-container:hover {
  outline: lightgray solid thin;
}

.bc-radio-container {
  height: 23px;
  line-height: 21px;
  margin: 0.5%;
  padding: 0;
  float: left;
  width: 8%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#rad0 {
  margin-left: 0;
}

#rad10 {
  margin-right: 0;
}

#bc-typing {
  position: absolute;
  bottom: 0;
  left: 5px;
  clear: both;
}

#bc-typing-msg {
  vertical-align: middle;
  font-size: .75em;
}

.bc-typing-avatar {
  width: 20px;
  height: 20px;
  border: 1px solid #bbbbbb;
  margin: 0 3px -5px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.bc-typing-name {
  margin-right: 3px;
}

.bc-type-one {
  opacity: 1;
  -webkit-animation: bc-type 1.3s infinite;
  -moz-animation: bc-type 1.3s infinite;
  -o-animation: bc-type 1.3s infinite;
  animation: bc-type 1.3s infinite;
}

.bc-type-two {
  opacity: 1;
  -webkit-animation: bc-type 1.3s infinite 0.2s;
  -moz-animation: bc-type 1.3s infinite 0.2s;
  -o-animation: bc-type 1.3s infinite 0.2s;
  animation: bc-type 1.3s infinite 0.2s;
}

.bc-type-three {
  opacity: 1;
  -webkit-animation: bc-type 1.3s infinite 0.3s;
  -moz-animation: bc-type 1.3s infinite 0.3s;
  -o-animation: bc-type 1.3s infinite 0.3s;
  animation: bc-type 1.3s infinite 0.3s;
}

@-webkit-keyframes bc-type {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bc-type {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bc-msg {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-color: transparent;
}

.bc-msg-bubble {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 0;
  border-bottom: 1px solid #DDDDDD;
  margin-left: 50px;
}

.bc-msg-op img {
  max-width: 100%;
  height: auto;
}

.bc-msg-bubble-triangle {
  height: 0;
  width: 0;
  border-top: 13px solid transparent;
  border-right: 13px solid #FFF;
}

.bc-msg-bubble-vis {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: 50px;
}

.bc-msg-bubble-vis .bc-msg-bubble-triangle {
  border-top: 13px solid transparent;
  border-right: none;
  border-left: 13px solid #4cb7ef;
}

.bc-msg-txt-vis {
  color: #fff;
}

.bc-msg-wrap-op, .bc-msg-wrap-sys, .bc-msg-wrap-vis {
  background-color: #FFF;
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid #DDDDDD;
  margin-left: 63px;
}

.bc-msg-wrap-vis {
  background-color: #4cb7ef;
  margin-left: 0;
  margin-right: 63px;
}

.bc-msg-time {
  float: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding-top: 10px;
}

.bc-msg-time-vis {
  color: rgba(255, 255, 255, 0.5);
}

.bc-msg-avatar-halo {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid #aaa;
  border-radius: 50%;
  padding: 3px;
  background-color: transparent;
}

.bc-msg-avatar {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin: 0;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.bc-msg-avatar-op {
  background-image: url("../../images/operator.png");
}

.bc-msg-avatar-sys {
  background-image: url("../../images/operator.png");
}

.bc-msg-avatar-vis {
  background-image: url("../../images/visitor.png");
}

.bc-msg-avatar-status {
  background-image: url("../../images/operator.png");
}

.bc-msg-vis .bc-msg-avatar-halo {
  left: auto;
  right: 0;
  border-color: #4cb7ef;
}

.bc-translation-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: 0.8em;
  color: #999999;
  cursor: pointer;
}

#microsoft_translate {
  height: auto !important;
}

#microsoft_translate img {
  -webkit-box-sizing: initial;
  box-sizing: initial;
}

#bc-layered-chat,
#bc-popup-chat {
  -webkit-box-shadow: -1px 2px 22px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 2px 22px 12px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 2px 22px 12px rgba(0, 0, 0, 0.4);
  background-color: #eeeeee;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a {
  color: #777;
}

ahover {
  color: #000;
}

a:active {
  color: #999;
}

#bc-chat-history {
  top: 39px;
}

#bc-title {
  padding: 13px;
  font-size: 13px;
  color: #222222;
  background-color: #d9d9d9;
}

#bc-title button {
  margin-left: 18px;
}

#bc-end-chat, #bc-min-chat {
  font-size: 13px;
  float: right;
  border: none;
  background-color: transparent;
  color: #999999;
  padding: 0;
  margin: 0;
  -webkit-background-size: 15px, 15px;
  background-size: 15px, 15px;
  width: 15px;
  height: 15px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#bc-end-chat:hover, #bc-min-chat:hover {
  color: #222222;
}

#bc-end-chat:focus, #bc-min-chat:focus {
  outline: 0;
}

#bc-min-chat,
#bc-end-chat {
  cursor: pointer;
  opacity: 0.3;
}

#bc-min-chat:hover,
#bc-end-chat:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

#bc-min-chat {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wcNFhkk0F6SnAAAACZpVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOV5F9bAAABGElEQVRIx+3WMU7DMBiG4RdUBshQEG1mxgquwMqGOnMkLkFp525la0uI4ASQ5gRMiJ0NhcWWLMexk2B3ST7pH6Jf9mNbiRXoWg5ajDkCboBYPH8CCVCEXOgAeBWIWg+hT+jagMo6azLRYUP41NIbhoS9pYe7B0+AN+ALuP/nwiJgAXwDK+XCKeVSgOq3OdfwW8t3fKGhqdbPq/C8YsJHBa8Dm1BZT6ZjKSwlcRdsQwtx7KUkDnwGTC39Kwcq5yjlHHh3DMxb9gpgDRxXvWCjGnib2thQFf/wiG7roL7xRqgv/LkNKjMGsn2jKr5rgCbAia87vS7uFZWJHfhLCFTFTRdFGhJV8UzbabSPH3rE7u6AH2AJ/NLHkT+bR/wtrNzeyQAAAABJRU5ErkJggg==");
}

#bc-end-chat {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wcNFhcgSbB7CwAAACZpVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOV5F9bAAABSUlEQVRIx+3XPS8EURTG8X9sSNj4AiglJKJZep9CIaL3rlNaLwWlT7AllUaiIjYUCq2KqOlsQedlNfckk8mde8+ZuQnFnuR089xfMmdOZgZ69U9qChgtkRsGGsCANVgDWkAX+ARWDNkG8OqyD8CIBT1xwWyvKtG3XO5Rg9eAUw+qwX2o9FNsZLsBNISHUOn7ENxWwD+5mWtQyfUXwWuKA7K4Fu0CF7E5Hxrwd+W1d27FSIUnRVPiZjQFXhqtgldGpVoG9DkValkZ6fW/QKU3yqIzFVDpzTJoJ9Eeq/HZhKj0VgydNqCXwJ4BXw7B58pDroBBl9lRZj7c+95bZ4oDrjOoVFOR6wB9RfB45nvJ121gqCAbuu3fwEJszpPAiyd8A9Qj2f0CdEn7ZE/k8FsFKnWQyX0Bi9ZdHgOOgG3PTGM1DxwDc71fE6lfKYRxdJxa9yQAAAAASUVORK5CYII=");
}

#bc-chat-actions {
  background-color: #ffffff;
}

#bc-chat-actions .bc-send-msg-col1, #bc-chat-actions .bc-send-msg-col2 {
  padding: 12px;
}

#bc-chat-actions #bc-send-msg-text, #bc-chat-actions #bc-send-msg-btn {
  font-size: 15px;
}

#bc-chat-actions #bc-send-msg-btn {
  color: #4cb7ef;
}

#bc-chat-actions #bc-send-msg-btn:hover {
  color: #222222;
}

#bc-send-msg-text {
  height: 1.5em;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

#bc-send-msg-btn {
  height: 1.5em;
  border: 0;
  background-color: transparent;
}

#bc-chat-history {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee;
}

#bc-typing {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bc-typing img {
  display: none;
}

#bc-typing #bc-typing-msg {
  display: inline-block;
  border: 1px solid #dddddd;
  border-radius: 1em;
  padding: 5px 15px;
  color: #aaaaaa;
}

#bc-queue-center {
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bc-queue-center #bc-queue-wrap {
  display: inline-block;
  position: static;
  margin: 0;
  border: 1px solid #dddddd;
  border-radius: 1em;
  padding: 5px 15px;
  color: #aaaaaa;
}

#bc-queue-center #bc-queue-cancel {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8em;
}

#bc-form-wrapper .bc-msg-wrap-sys {
  margin-left: 0;
}

#bc-form-wrapper .bc-action-button {
  background-color: transparent;
  color: #4cb7ef;
  font-size: 15px;
  padding: 15px;
  border: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#bc-form-wrapper .bc-action-button:hover {
  color: #222222;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.bc-input-container.bc-form-intro {
  width: auto;
  float: none;
  padding-bottom: 15px;
}

.bc-validator {
  padding-bottom: 10px;
}

.bc-validator li {
  color: #ff6464;
}

.bc-help-message {
  padding-bottom: 25px;
}

.bc-input-container {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.bc-input-container-select {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wcKEiQ7rWBHsgAAAJZJREFUKM/NkrEKwlAMRU9FeUKl39TRoYO1gw7tcL8sqwriaH/ITxAUB7tkEHnDqyh415McQhL4RSQVn7BYJpLWwEVSFZFVzupkIdACC2AnqXyRlcDeWZcqnAIb4ACsgF5S4+wIBODkNUnJfJq5Ny6Bq7McOAO1md1HCSNSgN5ltzFHyd6OMPO9PYGtmT2+8UJBUuBfMgDxBil08D7MnwAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: right;
  background-size: 20px 10px;
  border: 1px solid #d9d9d9;
}

.bc-input-container-select select {
  margin: 10px;
  background: transparent;
  width: 104%;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  height: 25px;
  border: 0;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.bc-input-container-select select option[disabled=true] {
  color: #a5c8df;
}

.bc-action-input-container {
  text-align: center;
}

.bc-invalid select,
.bc-invalid input + label,
.bc-invalid textarea + label {
  color: #ff6464;
}

.bc-nps-message-left,
.bc-nps-message-right {
  width: 50%;
  min-width: 50%;
  white-space: normal;
}

.bc-label-and-star {
  min-height: 25px;
}

.bc-star-label {
  width: 50%;
}

.bc-star:before {
  font-size: 22px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 0;
  margin-top: 0;
}

.bc-ie .bc-star-label {
  margin-top: 2px;
}

.bc-ie .bc-star:before {
  font-size: 18px;
}

#bc-chat input, #bc-chat textarea {
  height: 25px;
}

.bc-input-placeholder {
  position: relative;
  display: block;
  width: 100%;
}

.bc-input-placeholder input {
  text-indent: 7px;
}

.bc-input-placeholder input, .bc-input-placeholder textarea {
  width: 100%;
  color: #222222;
  padding: 0;
  font-size: 15px;
  text-align: left;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  border-top: 0;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.bc-input-placeholder:before {
  content: "";
  display: block;
  height: 70%;
  width: 1px;
  padding: 0;
  margin: 0;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
}

.bc-input-placeholder:after {
  content: "";
  display: block;
  height: 70%;
  width: 1px;
  padding: 0;
  margin: 0;
  background-color: white;
  position: absolute;
  right: -2px;
  top: 0;
}

.bc-input-placeholder label {
  color: #a5c8df;
  position: absolute;
  top: 5px;
  left: 9px;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: text;
}

.bc-input-placeholder input:focus,
.bc-input-placeholder textarea:focus {
  border-bottom: 1px solid #4cb7ef;
  border-right: 1px solid #4cb7ef;
  border-left: 1px solid #4cb7ef;
  border-top: 0;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.bc-input-placeholder input:focus + label,
.bc-input-placeholder textarea:focus + label,
.bc-input-placeholder input.bc-not-empty + label,
.bc-input-placeholder textarea.bc-not-empty + label {
  font-size: 12px;
  top: -12px;
  color: #999999;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.bc-input-placeholder textarea:focus,
.bc-input-placeholder textarea.bc-not-empty {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 5px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#bc-minimized-indicator {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #4cb7ef;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 40px;
  -webkit-box-shadow: -1px 2px 30px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 2px 30px 3px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 2px 30px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bc-minimized-indicator:after {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #4cb7ef;
  position: absolute;
  right: 0;
  bottom: -10px;
}

#bc-layered-chat.bc-minimized {
  height: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.bc-minimized #bc-minimized-indicator {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}

.bc-minimized #bc-minimized-indicator:hover {
  color: #999999;
  -webkit-box-shadow: -1px 2px 30px 3px black;
  -moz-box-shadow: -1px 2px 30px 3px black;
  box-shadow: -1px 2px 30px 3px black;
}

.bc-minimized #bc-minimized-indicator.bc-notify {
  -webkit-animation: bc-pulse 1s ease-out 0s 3;
  -moz-animation: bc-pulse 1s ease-out 0s 3;
  -o-animation: bc-pulse 1s ease-out 0s 3;
  animation: bc-pulse 1s ease-out 0s 3;
}

.bc-minimized #bc-minimized-indicator.bc-notify::before {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  content: "!";
  line-height: 45px;
}

.bc-minimized #bc-chat-actions {
  display: none;
}

@-webkit-keyframes bc-pulse {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes bc-pulse {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-o-keyframes bc-pulse {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes bc-pulse {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.bc-typing-avatar {
  display: inline-block;
  -webkit-background-size: cover;
  background-size: cover;
}
