@charset "UTF-8";
#bc-chat,
#bc-chat input[type="button"],
#bc-chat button,
#bc-chat input,
#bc-chat textarea,
#bc-chat select {
  font-family: helvetica, sans-serif;
}

.bc-clear {
  clear: both;
  height: 0;
}

.bc-boldchat-logo {
  float: right;
  margin-right: 10px;
  width: 103px;
  height: 12px;
  background-image: url("../../images/bc-logo.gif");
  background-size: 103px 12px;
}

.bc-mar-right {
  margin-right: 3px;
}

.bc-center {
  text-align: center;
}

.bc-vert-bottom {
  vertical-align: bottom;
}

.bc-error {
  color: #ff6464;
}

.bc-bold {
  font-weight: bold;
}

.bc-hide {
  display: none;
  visibility: hidden;
}

.height0 {
  height: 0;
}

.bc-hidden {
  display: none !important;
}

.bc-fade-visible {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1 !important;
}

.bc-busy {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: wait;
  opacity: 0.3;
}

.bc-busy-img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: url("../../images/loading.gif") repeat center center;
  -webkit-background-size: 100px;
  background-size: 100px;
  z-index: 5;
  opacity: 1;
}

@media (max-width: 650px) {
  #bc-layered-chat .bc-busy-img {
    width: 75px;
    height: 75px;
    -webkit-background-size: 75px;
    background-size: 75px;
  }
}

@supports (padding: constant(safe-area-inset-left)) {
  div#bc-layered-chat,
  div#bc-popup-chat {
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-top: constant(safe-area-inset-top);
    width: 100%;
  }
  div#bc-chat-actions {
    padding-bottom: constant(safe-area-inset-bottom);
  }
}

#bc-layered-chat,
#bc-popup-chat {
  height: 100%;
  position: fixed;
  z-index: 1000001;
  margin: auto;
  padding: 0;
  background-color: #bbbbbb;
  color: black;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#bc-layered-chat textarea,
#bc-popup-chat textarea {
  resize: none;
}

#bc-popup-chat {
  top: 0;
  left: 0;
  width: 100%;
}

#bc-layered-chat {
  right: 0;
  bottom: 0;
  width: 350px;
  max-height: 500px;
  -webkit-transition: height ease-in-out 0.5s;
  -moz-transition: height ease-in-out 0.5s;
  -ms-transition: height ease-in-out 0.5s;
  -o-transition: height ease-in-out 0.5s;
  transition: height ease-in-out 0.5s;
}

@media (max-width: 768px) {
  #bc-layered-chat {
    left: 0;
    width: auto;
    height: 100%;
    max-height: 100vh;
  }
}

#bc-chat {
  line-height: initial;
  text-align: left;
}

/* necessary to hide existing floating button on page */
.bc-hide-buttons,
div[name="bt_invite_box"],
div[name="bc-invite-box"],
div.bcStatic,
div.bcFloat {
  opacity: 0 !important;
  display: none !important;
}

#bc-chat-history {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 10px;
  overflow-y: scroll;
}

#bc-queue-wrap {
  position: absolute;
  margin-top: -18px;
  font-size: .75em;
}

/* confirmation dialog generic styles */
.bc-confirm-dialog {
  text-align: center;
  background-color: #bbbbbb;
  color: black;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 50px 20px;
  padding: 20px;
}

.bc-confirm-message {
  display: block;
  margin: 0 0 10px;
}

.bc-confirm-button {
  margin: 0 5px;
}

/* cancellable message styles */
.bc-message-bar {
  text-align: center;
  background-color: #bbbbbb;
  color: black;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 50px 20px;
  padding: 10px;
}

.bc-message-bar-text {
  display: inline-block;
  font-weight: normal;
  margin: 0 5px 0 0;
}

#bc-chat-actions {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  position: absolute;
  bottom: -110px;
  display: inline-block;
  border-top: solid 1px #bbbbbb;
  -webkit-transition: height ease-in-out 0.2s;
  -moz-transition: height ease-in-out 0.2s;
  -ms-transition: height ease-in-out 0.2s;
  -o-transition: height ease-in-out 0.2s;
  transition: height ease-in-out 0.2s;
}

#bc-chat-actions .bc-table {
  display: table;
  width: 100%;
}

#bc-chat-actions .bc-row {
  display: table-row;
  width: 100%;
  height: 100%;
}

#bc-chat-actions .bc-cell {
  display: table-cell;
  padding: 5px;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

#bc-chat-actions .bc-cell-left {
  position: relative;
}

#bc-chat-actions .bc-cell-right {
  white-space: nowrap;
}

#bc-send-msg-text {
  width: 100%;
  height: 56px;
  resize: none;
}

textarea#bc-send-msg-text {
  background: white !important;
}

#bc-end-chat {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
}

#bc-popup-chat #bc-min-chat {
  display: none;
  visibility: hidden;
}

#bc-min-chat {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
}

#bc-send-msg-btn,
#bc-send-file-btn {
  height: 62px;
  outline: none;
  padding: 0;
  margin: 0;
}

.bc-msg {
  margin: 10px;
  padding: 10px;
  background-color: #FFF;
}

.bc-msg-avatar {
  object-fit: cover;
  max-width: 36px;
  max-height: 36px;
  float: left;
  margin-right: 10px;
  -webkit-background-origin: border-box;
  background-origin: border-box;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.bc-msg-time {
  float: right;
}

.bc-form-intro {
  padding-bottom: 10px;
  text-align: center;
}

div.bc-input-container {
  clear: both;
  padding-bottom: 0;
}

.bc-input-container.bc-form-intro {
  padding-bottom: 7px;
}

.bc-input-label {
  margin-right: 10px;
  vertical-align: top;
}

.bc-input-container > select {
  width: 100%;
  margin: initial;
}

#bc-chat label {
  font-weight: normal;
  line-height: initial;
  text-align: left;
}

#bc-chat input {
  height: initial;
  line-height: initial;
  text-align: left;
}

#bc-chat,
#bc-chat input[type="button"],
#bc-chat button,
#bc-chat input,
#bc-chat textarea,
#bc-chat select {
  font-family: helvetica, sans-serif;
}

.bc-star-label {
  float: left;
  margin-top: 8px;
  width: 50%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.bc-starrating-component {
  float: right;
  display: inline-block;
  width: 50%;
}

.bc-star-val {
  float: right;
  display: none !important;
}

.bc-star:before {
  margin: 3px;
  font-weight: bold;
  font-size: 1.35em;
  display: inline-block;
  content: "★";
}

.bc-star {
  color: gray;
  float: right;
  cursor: pointer;
  padding: 0;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.bc-starrating-component > .bc-star-val:checked ~ .bc-star,
.bc-starrating-component:not(:checked) .bc-star:hover,
.bc-starrating-component:not(:checked) .bc-star:hover ~ .bc-star {
  color: #FFD700;
}

/* hover previous stars in list */
.bc-starrating-component > .bc-star-val:checked + .bc-star:hover,
.bc-starrating-component > .bc-star-val:checked ~ .bc-star:hover,
.bc-starrating-component > .bc-star:hover ~ .bc-star-val:checked ~ .bc-star,
.bc-starrating-component > .bc-star-val:checked ~ label:hover ~ .bc-star {
  color: #FFED85;
}

.bc-label-and-star {
  clear: both;
}

.bc-help-message {
  margin: 0 0 20px 0;
  max-height: 10000em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bc-nps-interface {
  width: 100%;
}

.bc-nps-header {
  font-weight: bold;
}

.bc-nps-message-left {
  width: 105px;
  float: left;
  margin: 0;
}

.bc-nps-message-right {
  width: 105px;
  text-align: right;
  float: right;
  margin: 0;
}

.bc-nps-radios {
  text-align: center;
}

.bc-unchecked-radio {
  background: white;
  color: #bbbbbb;
}

.bc-checked-radio {
  background: black;
  color: white;
}

.bc-radio-container:hover {
  outline: lightgray solid thin;
}

.bc-radio-container {
  height: 23px;
  line-height: 21px;
  margin: 0.5%;
  padding: 0;
  float: left;
  width: 8%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#rad0 {
  margin-left: 0;
}

#rad10 {
  margin-right: 0;
}

#bc-typing {
  position: absolute;
  bottom: 0;
  left: 5px;
  clear: both;
}

#bc-typing-msg {
  vertical-align: middle;
  font-size: .75em;
}

.bc-typing-avatar {
  width: 20px;
  height: 20px;
  border: 1px solid #bbbbbb;
  margin: 0 3px -5px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.bc-typing-name {
  margin-right: 3px;
}

.bc-type-one {
  opacity: 1;
  -webkit-animation: bc-type 1.3s infinite;
  -moz-animation: bc-type 1.3s infinite;
  -o-animation: bc-type 1.3s infinite;
  animation: bc-type 1.3s infinite;
}

.bc-type-two {
  opacity: 1;
  -webkit-animation: bc-type 1.3s infinite 0.2s;
  -moz-animation: bc-type 1.3s infinite 0.2s;
  -o-animation: bc-type 1.3s infinite 0.2s;
  animation: bc-type 1.3s infinite 0.2s;
}

.bc-type-three {
  opacity: 1;
  -webkit-animation: bc-type 1.3s infinite 0.3s;
  -moz-animation: bc-type 1.3s infinite 0.3s;
  -o-animation: bc-type 1.3s infinite 0.3s;
  animation: bc-type 1.3s infinite 0.3s;
}

@-webkit-keyframes bc-type {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bc-type {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'bc-fa-subset';
  src: url("fonts/bc-fa-subset.eot?25160860");
  src: url("fonts/bc-fa-subset.eot?25160860#iefix") format("embedded-opentype"), url("fonts/bc-fa-subset.woff?25160860") format("woff"), url("fonts/bc-fa-subset.ttf?25160860") format("truetype"), url("fonts/bc-fa-subset.svg?25160860#bc-fa-subset") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.bc-fa {
  font-family: 'bc-fa-subset';
}

.bc-fa-clock-o:before {
  content: "";
}

.bc-fa-star:before {
  content: "";
}

.bc-fa-star-o:before {
  content: "";
}

.bc-fa-print:before {
  content: "";
}

.bc-fa-envelope:before {
  content: "";
}

.bc-fa-minus:before {
  content: "";
}

.bc-fa-plus:before {
  content: "";
}

.bc-fa-times:before {
  content: "";
}

#bc-layered-chat,
#bc-popup-chat {
  border: #151515;
  -webkit-box-shadow: -1px 2px 22px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 2px 22px 12px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 2px 22px 12px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 15px;
  color: white;
}

#bc-chat {
  height: 100%;
  width: 100%;
  background: url("../nightshade/images/background.jpg") no-repeat right bottom/cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#bc-chat input {
  padding-top: 3px;
  padding-bottom: 3px;
  background: none;
}

#bc-queue-wrap {
  padding: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  margin: auto;
  position: static;
}

#bc-queue-cancel-btn {
  color: white;
  text-decoration: underline;
}

#bc-queue-cancel-btn:hover {
  text-decoration: none;
}

#bc-chat-history {
  padding: 0;
  margin-top: 40px;
  border-top: solid 1px white;
}

div.bc-input-container {
  padding-top: 3px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
}

.bc-input-container.bc-form-intro {
  width: 80%;
  float: right;
}

div.bc-action-input-container {
  text-align: right;
  padding-top: 20px;
}

.bc-validator {
  background-color: #ff6464;
  color: white;
  border-radius: 0;
  padding: 7px;
  margin: 7px 0;
  clear: both;
}

.bc-validator span {
  font-weight: bold;
  display: block;
  margin-bottom: 7px;
}

.bc-input-label {
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bc-invalid select,
.bc-invalid input + label,
.bc-invalid textarea + label {
  color: #ff6464 !important;
}

#bc-chat a {
  color: white;
}

#bc-chat a:hover {
  text-decoration: none;
}

/*Lovato*/
.bc-chat-seperator {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 38px;
  z-index: 0;
  background-color: white;
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
  /* CSS3 */
}

#bc-chat-column {
  position: relative;
  height: 100%;
  float: none;
}

/***** End of Input Elements *****/
.bc-button {
  display: inline-block;
  width: 47px;
  height: 50px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 12px;
  background-color: #295641;
  color: white;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.bc-button:hover,
.bc-button:focus,
.bc-button:active {
  color: white;
  background-color: #3c9538;
  border-color: #2a6927;
  -webkit-box-shadow: inset 0 1px 1px rgba(60, 149, 56, 0.75), 0 0 8px #3c9538;
  -moz-box-shadow: inset 0 1px 1px rgba(60, 149, 56, 0.75), 0 0 8px #3c9538;
  box-shadow: inset 0 1px 1px rgba(60, 149, 56, 0.75), 0 0 8px #3c9538;
}

.bc-action-button {
  width: 100%;
  min-height: 35px;
}

.bc-action-button-span {
  padding: 10px;
  display: block;
}

/* Effect 1 */
.bc-effect-1 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  -ms-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.bc-effect-1:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  opacity: 0;
  -webkit-box-shadow: 0 0 0 4px;
  -moz-box-shadow: 0 0 0 4px;
  box-shadow: 0 0 0 4px;
  -webkit-transition: transform 0.2s, opacity 0.2s;
  -moz-transition: transform 0.2s, opacity 0.2s;
  -ms-transition: transform 0.2s, opacity 0.2s;
  -o-transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* Effect 1b */
.bc-effect-1:hover {
  background: white;
}

.bc-effect-1:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.bc-button-text-span {
  font-size: 22px;
  float: none;
  margin: 0;
  min-height: initial;
  line-height: initial;
}

#bc-chat ::-webkit-scrollbar {
  width: 12px;
  background: #fff;
}

#bc-chat ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#bc-chat ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

div.bc-input-container-select {
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.bc-input-container select {
  cursor: pointer;
  color: white;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wcKEiQ7rWBHsgAAAJZJREFUKM/NkrEKwlAMRU9FeUKl39TRoYO1gw7tcL8sqwriaH/ITxAUB7tkEHnDqyh415McQhL4RSQVn7BYJpLWwEVSFZFVzupkIdACC2AnqXyRlcDeWZcqnAIb4ACsgF5S4+wIBODkNUnJfJq5Ny6Bq7McOAO1md1HCSNSgN5ltzFHyd6OMPO9PYGtmT2+8UJBUuBfMgDxBil08D7MnwAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: right;
  background-size: 20px 10px;
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
  line-height: 25px;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(60, 149, 56, 0.75);
  outline: 0;
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.bc-input-container select optgroup, .bc-input-container select option {
  color: black;
}

.bc-input-container select option[disabled=true] {
  color: #667;
}

.bc-ie9 .bc-input-container-select select {
  background-color: black;
}

.bc-ie9 optgroup, .bc-ie9 option {
  color: white !important;
}

.bc-input-placeholder {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 100%;
}

.bc-input-placeholder input, .bc-input-placeholder textarea {
  width: 100%;
  color: white;
  padding: 0;
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
  text-indent: 7px;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(60, 149, 56, 0.75);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.bc-input-placeholder input:hover, .bc-input-placeholder input:focus, .bc-input-placeholder textarea:hover, .bc-input-placeholder textarea:focus {
  border-color: rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bc-input-placeholder input {
  height: 25px;
}

.bc-input-placeholder textarea {
  height: 50px;
  border-right: dashed 1px rgba(60, 149, 56, 0.75);
  border-left: dashed 1px rgba(60, 149, 56, 0.75);
}

.bc-input-placeholder label {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 6px;
  left: 9px;
  font-size: 15px;
  cursor: text;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.bc-input-placeholder select + label {
  position: static;
}

.bc-input-placeholder textarea + label {
  top: 15px;
}

.bc-input-placeholder input:focus + label,
.bc-input-placeholder textarea:focus + label,
.bc-input-placeholder input.bc-not-empty + label,
.bc-input-placeholder textarea.bc-not-empty + label {
  font-size: 12px;
  top: -12px;
  color: rgba(255, 255, 255, 0.5);
}

button#bc-minimized-indicator,
button#bc-end-chat,
button#bc-min-chat {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 30px;
  z-index: 10;
  top: 4px;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: transform ease 0.5s, background 0.2s, color 0.2s, width 0.5s, height 0.5s;
  -moz-transition: transform ease 0.5s, background 0.2s, color 0.2s, width 0.5s, height 0.5s;
  -ms-transition: transform ease 0.5s, background 0.2s, color 0.2s, width 0.5s, height 0.5s;
  -o-transition: transform ease 0.5s, background 0.2s, color 0.2s, width 0.5s, height 0.5s;
  transition: transform ease 0.5s, background 0.2s, color 0.2s, width 0.5s, height 0.5s;
  padding: 0;
  line-height: initial;
}

button#bc-end-chat {
  left: auto;
  right: 10px;
}

button#bc-min-chat {
  left: 10px;
}

#bc-minimized-indicator:hover,
button#bc-end-chat:hover,
button#bc-min-chat:hover {
  background: white;
  color: #3c9538;
}

#bc-minimized-indicator:focus,
button#bc-end-chat:focus,
button#bc-min-chat:focus {
  border: solid 1px rgba(60, 149, 56, 0.75);
  outline: none;
}

#bc-minimized-indicator:after,
button#bc-end-chat:after,
button#bc-min-chat:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#bc-minimized-indicator:after {
  color: rgba(60, 149, 56, 0.75);
}

#bc-min-chat-text {
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  top: 6px;
  left: -8px;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

button#bc-min-chat:hover {
  color: transparent;
  background: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button#bc-min-chat:hover #bc-min-chat-text {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  color: white;
}

button#bc-min-chat.bc-minimized:hover #bc-min-chat-text {
  display: none;
}

button#bc-min-chat.bc-minimized {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  color: lightgray;
  top: auto;
  left: auto;
  bottom: 30px;
  right: 30px;
}

@-webkit-keyframes bc-pulse {
  from {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-moz-keyframes bc-pulse {
  from {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-o-keyframes bc-pulse {
  from {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes bc-pulse {
  from {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.bc-minimized button#bc-minimized-indicator.bc-notify {
  -webkit-animation: bc-pulse 1s ease 0s 3;
  -moz-animation: bc-pulse 1s ease 0s 3;
  -o-animation: bc-pulse 1s ease 0s 3;
  animation: bc-pulse 1s ease 0s 3;
}

.bc-minimized button#bc-minimized-indicator.bc-notify span:before {
  content: "";
}

.bc-ie button#bc-min-chat:hover {
  left: 2px;
  text-indent: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  width: 100px;
}

.bc-cell {
  position: relative;
}

.bc-send-msg-col {
  height: 100%;
  width: 100%;
  position: relative;
}

#bc-chat-actions {
  background-color: transparent;
}

#bc-chat-actions .bc-send-msg-col1, #bc-chat-actions .bc-send-msg-col2 {
  padding: 0;
}

#bc-chat-actions input#bc-send-msg-text, #bc-chat-actions button#bc-send-msg-btn, #bc-chat-actions button#bc-send-file-btn {
  height: 25px;
  font-size: 15px;
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: white;
  border: 0;
}

#bc-chat-actions button#bc-send-msg-btn {
  width: 70px;
  font-weight: bold;
}

#bc-chat-actions button#bc-send-msg-btn:focus, #bc-chat-actions button#bc-send-msg-btn:active {
  background-color: rgba(60, 149, 56, 0.75);
}

#bc-chat-actions input#bc-send-msg-text {
  outline: 0;
  padding: 0;
  margin: 0;
  text-indent: 5px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

input#bc-send-msg-text:hover,
input#bc-send-msg-text:active,
input#bc-send-msg-text:focus {
  border-color: rgba(60, 149, 56, 0.75);
  -webkit-box-shadow: inset 0 1px 1px rgba(60, 149, 56, 0.75), 0 0 8px #3c9538;
  -moz-box-shadow: inset 0 1px 1px rgba(60, 149, 56, 0.75), 0 0 8px #3c9538;
  box-shadow: inset 0 1px 1px rgba(60, 149, 56, 0.75), 0 0 8px #3c9538;
}

#bc-minimized-indicator {
  display: none;
}

.bc-minimized #bc-minimized-indicator {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  color: lightgray;
  top: auto;
  left: auto;
  bottom: 30px;
  right: 30px;
}

.bc-minimized #bc-minimized-indicator:hover {
  color: rgba(60, 149, 56, 0.75);
  background-color: white;
}

.bc-minimized #bc-chat-actions {
  display: none;
}

.bc-minimized #bc-queue-wrap {
  display: none;
}

.bc-minimized #bc-typing {
  display: none;
}

#bc-layered-chat.bc-minimized {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 0;
}

.bc-star-label {
  margin-top: 10px;
  color: white;
}

.bc-star {
  background-color: transparent;
}

.bc-star:before {
  font-size: 1.65em;
}

.bc-star:hover {
  background-color: green;
}

.bc-ie .bc-star {
  font-size: 0.65em;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.bc-starrating-component > .bc-star-val:checked ~ .bc-star,
.bc-starrating-component:not(:checked) .bc-star:hover,
.bc-starrating-component:not(:checked) .bc-star:hover ~ .bc-star {
  color: #3c9538;
}

/* hover previous stars in list */
.bc-starrating-component > .bc-star-val:checked + .bc-star:hover,
.bc-starrating-component > .bc-star-val:checked ~ .bc-star:hover,
.bc-starrating-component > .bc-star:hover ~ .bc-star-val:checked ~ .bc-star,
.bc-starrating-component > .bc-star-val:checked ~ label:hover ~ .bc-star {
  color: #2a6927;
}

#bc-typing {
  font-weight: 100;
  font-size: 10pt;
  padding: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin: auto;
  position: static;
}

.bc-typing-avatar {
  display: inline-block;
  -webkit-background-size: cover;
  background-size: cover;
}

.bc-boldchat-logo {
  float: auto;
  margin: 0;
  position: absolute;
  left: 35%;
  top: 15px;
}

.bc-msg {
  border-bottom: solid 1px #295641;
  margin: 0;
  background: none;
  color: white;
}

.bc-msg-op img {
  max-width: 100%;
  height: auto;
}

.bc-msg-avatar {
  width: 40px;
  height: 41px;
  max-width: 50px;
  max-height: 51px;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  margin-top: 7px;
}

.bc-msg-avatar-op {
  background-image: url("../../images/operator.png");
}

.bc-msg-avatar-sys, .bc-msg-avatar-status {
  background-image: url("../../images/company-logo.jpg");
}

.bc-msg-avatar-vis {
  background-image: url("../../images/visitor.png");
}

.bc-msg-avatar-sys {
  margin-bottom: -50px;
  margin-left: 3px;
}

.bc-msg-time {
  float: none;
  padding-left: 3px;
}

.bc-translation-toggle {
  color: #2a6927;
  font-size: 12px;
  cursor: pointer;
}

.bc-translation-toggle:hover {
  color: #2a6927;
}

.bc-translation-body {
  color: #969696;
}

.bc-msg-wrap, .bc-msg-wrap-op, .bc-msg-wrap-sys, .bc-msg-wrap-vis {
  padding: 0;
  margin: 0;
  background: none;
  border-radius: 0;
}

.bc-msg-wrap-sys div#microsoft_translate {
  height: auto !important;
}

.bc-msg-wrap-sys div#microsoft_translate img {
  width: auto !important;
  height: auto !important;
  max-height: 2rem;
}

.bc-msg-time-wrap {
  color: #3c9538;
  font-size: 0.7em;
  font-weight: bold;
}

.bc-msg-head-text-wrap {
  padding-left: 60px;
}

.bc-msg-txt {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bc-msg-name {
  color: #aaaaaa;
}

.bc-nps-radios {
  font-size: 11px;
}

.bc-checked-radio {
  background: #3c9538;
  color: white;
}

.bc-radio-container:hover {
  outline: #3c9538 solid thin;
}
