.bc-translation-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 0.8em;
    color: rgb(153, 153, 153);
    cursor: pointer;
}

#microsoft_translate {
    height: auto !important;
    img {
        -webkit-box-sizing: initial;
        box-sizing: initial;
    }
}

