$triangle-size: 13px;
$avatar-gap: 50px;

.bc-msg {
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    background-color: transparent;
}

.bc-msg-bubble {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    margin-left: $avatar-gap;
}

.bc-msg-bubble-vis {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: $avatar-gap;
}

.bc-msg-txt {
    color: #75706e;
    font-size: 12px;
    font-weight: 600;
}

.bc-msg-wrap-op, .bc-msg-wrap-vis {
    background-color: #FFF;
    border: 1px solid #d6d4d3;
    border-radius: 8px;
    padding: 0px 15px 15px 15px;
    font-size: 15px;
    margin-left: $avatar-gap + $triangle-size;
}

.bc-msg-wrap-vis {
    margin-left: 15px;
    margin-right: $avatar-gap + $triangle-size;
}

.bc-msg-time {
    display: inline;
    float: none;
    font-size: 10px;
    color: #5ba5d1;
    margin-top: -10px;
}

.bc-msg-name {
    display: inline;
    font-size: 10px;
    padding-left: 3px;
}
