@import "../../scss/color-constants";

.bc-input-container {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    color: black;
    margin: 0;
}

.bc-action-input-container {
    text-align: right;
}

.bc-validator {
    background-color: $bc-color-theme-two;
    color: white;
    border-radius: 0;
    padding: 7px;
    margin: 7px 0;
}

.bc-validator span {
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
}

div.bc-input-container-select > select {
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 30px;
    padding: 0 7px;
    @include bc-border-radius(0 6px 6px 0);
    border: 1px solid $bc-color-theme-four;
    height: 30px;
    background: none;
    background-color: $bravo;
}

.bc-input-placeholder {
    position: relative;
    overflow: hidden;
    background-color: $bravo;
    border-radius: 4px;
    width: 100%;
}

.bc-input-label {
    margin-right: auto;
    @include bc-box-sizing(border-box);
}
