.bc-cell {
    position: relative;
}

.bc-send-msg-col {
    height: 100%;
    width: 100%;
    position: relative;
    //display: inline-block;
    //vertical-align: top;
}

#bc-send-msg-text:hover {
    border-color: $bc-color-theme-one-shade-one;
}

#bc-send-msg-text:focus {
    @include bc-box-shadow(0 0 10px 6px $bc-color-box-shadow-dark-40);
}

#bc-send-msg-btn,
#bc-send-file-btn {
    height: 56px;
    width: 70px;
    font-weight: bold;
    font-size: 13px;
    color: white;
}

#bc-minimized-indicator {
    display: none;
}

#bc-chat-actions {
    @include bc-transition(0.5s ease-in-out);
}

.bc-minimized {
    #bc-minimized-indicator {
        display: block;
        width: 50px;
        height: 50px;

        position: fixed;
        z-index: 99;
        background: $alfa60;
        color: $delta;
        top: auto;
        left: auto;
        bottom: 30px;
        right: 30px;

        &:hover {
            color: $bravo;
        }
    }

    #bc-chat-actions {
        display: none;
    }

    #bc-queue-wrap {
        display: none;
    }

    #bc-typing {
        display: none;
    }

}

#bc-layered-chat.bc-minimized {
    height: 0;
    @include bc-box-shadow(none);
}
