//https://github.com/FortAwesome/Font-Awesome/tree/v4.3.0
@font-face {
    font-family: 'bc-fa-subset';
    src: url('fonts/bc-fa-subset.eot?25160860');
    src: url('fonts/bc-fa-subset.eot?25160860#iefix') format('embedded-opentype'),
    url('fonts/bc-fa-subset.woff?25160860') format('woff'),
    url('fonts/bc-fa-subset.ttf?25160860') format('truetype'),
    url('fonts/bc-fa-subset.svg?25160860#bc-fa-subset') format('svg');
    font-weight: normal;
    font-style: normal;
    @include bc-font-smoothing();
}

.bc-fa {
    font-family: 'bc-fa-subset';
}

$bc-fa-var-envelope: "\e801";
$bc-fa-var-print: "\e805";
$bc-fa-var-clock-o: "\e804";
$bc-fa-var-star: "\e800";
$bc-fa-var-star-o: "\e803";
$bc-fa-var-times: "\e806";
$bc-fa-var-plus: "\e808";
$bc-fa-var-minus: "\e80c";


.bc-fa-clock-o:before {
    content: $bc-fa-var-clock-o;
}

.bc-fa-star:before {
    content: $bc-fa-var-star;
}

.bc-fa-star-o:before {
    content: $bc-fa-var-star-o;
}

.bc-fa-print:before {
    content: $bc-fa-var-print;
}

.bc-fa-envelope:before {
    content: $bc-fa-var-envelope;
}

.bc-fa-minus:before {
    content: $bc-fa-var-minus;
}

.bc-fa-plus:before {
    content: $bc-fa-var-plus;
}

.bc-fa-times:before {
    content: $bc-fa-var-times;
}

