.bc-star-label {
    margin-top: 10px;
}

.bc-star:before {
    margin: 2px;
    font-size: 19px;
}

.bc-star:hover {
    background-color: $bc-color-theme-one;
}

.bc-ie {
    .bc-star-label {
        margin-top: 5px;
    }

    .bc-star:before {
        font-size: 17px;
    }
}

/***** CSS Magic to Highlight Stars on Hover *****/
.bc-starrating-component > .bc-star-val:checked ~ .bc-star,
    /* show gold star when clicked */
.bc-starrating-component:not(:checked) .bc-star:hover,
    /* hover current star */
.bc-starrating-component:not(:checked) .bc-star:hover ~ .bc-star {
    color: $bc-color-theme-two;
}
