button#bc-minimized-indicator,
button#bc-end-chat,
button#bc-min-chat {
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    padding: 0;
    top: 4px;
    color: $bravo60;
    text-shadow: 1px 1px $bc-color-theme-three-shade-two;
    @include bc-border-radius(50%);
    font-weight: bold;

    line-height: initial;
}

button#bc-end-chat {
    left: auto;
    right: 22px;
}

button#bc-min-chat {
    left: 10px;
}

#bc-minimized-indicator:focus,
button#bc-end-chat:focus,
button#bc-min-chat:focus {
    border: solid 1px $bc-color-theme-one-shade-one;
    outline: none;
}

button#bc-end-chat:hover,
button#bc-min-chat:hover,
#bc-minimized-indicator:hover {
    background: $bravo;
    color: $bc-color-theme-five;
}

button#bc-end-chat:after,
button#bc-min-chat:after,
#bc-minimized-indicator:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    @include bc-box-sizing(content-box);
    @include bc-border-radius(50%);
}

@include bc-keyframes(bc-pulse) {
    0% {
        @include bc-transform(scale(1, 1));
        opacity: 1.0;
    }
    33% {
        opacity: 0;
    }
    66% {
        @include bc-transform(scale(1.5, 1.5));
        opacity: 1.0;
    }
    100% {
        opacity: 0;
    }
}

.bc-minimized {
    button#bc-minimized-indicator.bc-notify {
        @include bc-animation(bc-pulse 1s ease-out 0s 3);

        span:before {
            content: $bc-fa-var-envelope;
        }
    }
}
