#bc-typing {
    font-weight: 100;
    font-size: 10pt;
    color: $bc-color-theme-one-shade-two;
}

.bc-typing-avatar {
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
}