.bc-msg-avatar {
    width: 50px;
    height: 51px;
    max-width: 50px;
    max-height: 51px;
    -webkit-background-size: cover;
    background-size: cover;
}

.bc-msg-time {
    float: none;
}

$msg-height: 77px;

.bc-translation-toggle {
    color: $bc-color-theme-one-shade-two;
}

.bc-translation-toggle:hover {
    color: $bc-color-theme-one-shade-two;
}

.bc-translation-body {
    color: $bc-color-theme-three-shade-one;
}
