/***** Input Elements *****/
/* General Inputs */
#bc-chat input, #bc-chat textarea {
    background: none;
    z-index: 1;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 12px;
    border: 1px solid $bc-color-theme-four;
    overflow: hidden;
    width: 100%;
    outline: 0;
    @include bc-border-radius(4px);
    @include bc-box-shadow(inset 0 1px 1px $bc-color-box-shadow-75);
    @include bc-box-sizing;
}

#bc-chat input, #bc-chat textarea, #bc-chat button {
    @include bc-transition(all ease 300ms);
}

#bc-chat input:focus,
#bc-chat textarea:focus {
    border-color: $bc-color-theme-one;
}

div.bc-input-placeholder > input.bc-not-empty + label,
div.bc-input-placeholder > textarea.bc-not-empty + label {
    /* Hides the label */
    color: transparent;
}

div.bc-input-placeholder > input:focus.bc-not-empty + label,
div.bc-input-placeholder > textarea:focus.bc-not-empty + label {
    /*Placeholder label on control focus*/
    color: white;
}

div.bc-input-placeholder > input:focus + label,
div.bc-input-placeholder > textarea:focus + label {
    background: $bc-color-theme-one;
    font-size: 70%;
    padding: 1px 6px 1px 10px;
    z-index: 2;
    text-transform: uppercase;

    top: 100%;
    width: 100%;
    margin-top: -12px;

    color: white;
}

div.bc-input-container.bc-invalid {
    div.bc-input-placeholder {
        > input,
        > input:focus,
        > textarea,
        > textarea:focus {
            border: solid 1px $bc-color-error !important;
        }

        > input:focus + label,
        > textarea:focus + label {
            background: $bc-color-error !important;
        }
    }

    > select,
    > select:focus {
        //border-color: $bc-color-error !important;
        border: solid 1px $bc-color-error !important;
    }
}

div.bc-input-placeholder > label {
    @include bc-transition(background 200ms, color 200ms, top 200ms, bottom 200ms, right 200ms, left 200ms);
    position: absolute;
    padding: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: $echo;
}

/***** End of Input Elements *****/

.bc-button {
    display: inline-block;
    width: 47px;
    height: 50px;

    cursor: pointer;
    vertical-align: middle;
    font-size: 12px;
    background-color: $bc-color-theme-three-shade-one;
    color: $bravo;
    @include bc-border-radius(4px);
    border: none;
}

.bc-button:hover,
.bc-button:focus,
.bc-button:active {
    color: $bravo;
    background-color: $bc-color-theme-one;
    border-color: $bc-color-theme-one-shade-two;
    @include bc-box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6));
}

.bc-action-button {
    width: 100%;
    min-height: 35px;
}

.bc-action-button-span {
    padding: 10px;
    display: block;
}

/* Effect 1 */
.bc-effect-1 {
    background: $bravo20;
    @include bc-transition(background 200ms, color 200ms);
}

.bc-effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    opacity: 0;
    @include bc-box-shadow(0 0 0 4px $bravo);
    @include bc-transition(transform 200ms, opacity 200ms);
    @include bc-transform(scale(0.8));
}

/* Effect 1b */
.bc-effect-1:hover {
    background: white;
}

.bc-effect-1:after {
    @include bc-transform(scale(1.2));
}

.bc-effect-1:hover:after {
    @include bc-transform(scale(1));
    opacity: 1;
}

.bc-button-text-span {
    font-size: 22px;
    float: none;
    margin: 0;
    min-height: initial;
    line-height: initial;
}
