$bc-color-theme-one: #40cbff;
$bc-color-theme-one-shade-one: #66afe9;
$bc-color-theme-one-shade-two: #285e8e;
$bc-color-theme-one-shade-three: #00a1df;
$bc-color-theme-two: orange;
$bc-color-theme-three: #f5f5f5;
$bc-color-theme-four: rgb(204, 204, 204);
$bc-color-theme-three-shade-one: rgb(150, 150, 150);
$bc-color-theme-three-shade-two: rgb(170, 170, 170);
$bc-color-theme-five: maroon;

$bc-color-error: rgb(255, 100, 100);

$bc-color-box-shadow-75: rgba(0, 0, 0, .075);
$bc-color-box-shadow-dark-60: rgba(102, 175, 233, .6);
$bc-color-box-shadow-dark-40: rgba(102, 175, 233, .4);
