/*Message History*/
.bc-msg {
  position: relative;
  clear: both;
  float: left;
  margin: auto;
  margin-top: 15px;
  padding: 0;
  background-color: transparent;
}

.bc-msg-wrap, .bc-msg-wrap-op, .bc-msg-wrap-sys, .bc-msg-wrap-vis {
  padding: 15px;
  margin-top: 0;
  font-size: 13px;
  color: #151515;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0;
  margin-left: 66px;
  min-height: 35px;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.bc-msg {
  width: 100%;
}

.bc-msg-op img {
  max-width: 100%;
  height: auto;
}

.bc-msg-wrap-sys div#microsoft_translate {
  height: auto !important;
}

.bc-msg-wrap-sys div#microsoft_translate img {
  width: auto !important;
  height: auto !important;
  max-height: 2rem;
}

.bc-msg-name {
  margin-right: 5px;
  font-weight: bold;
}

.bc-msg-bubble {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 56px;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  filter: alpha(opacity=70);
  /* IE */
  -moz-opacity: 0.7;
  /* Mozilla */
  opacity: 0.7;
  /* CSS3 */
}

.bc-msg-avatar {
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bc-msg-avatar-op {
  background-image: url("../../images/operator.png");
}

.bc-msg-avatar-sys, .bc-msg-avatar-status {
  background-image: url("../../images/company-logo.jpg");
}

.bc-msg-avatar-vis {
  background-image: url("../../images/visitor.png");
}

.bc-msg-time-wrap {
  color: #eeeeee;
  font-size: 8px;
  display: inline;
  float: right;
  margin-right: 5px;
}

.bc-translation-container {
  font-size: 0.8em;
  text-indent: 0;
  padding-top: 5px;
}

.bc-translation-toggle {
  font-style: normal;
  cursor: pointer;
}

.bc-translation-toggle:hover {
  text-decoration: underline;
}

.bc-translation-body {
  text-indent: 0;
  padding: 5px 0;
}

.bc-translation-body .chat_history_name {
  display: none;
}
