@import "../../../scss/color-constants";

#bc-layered-chat,
#bc-popup-chat {
    border: $foxtrot;
    @include bc-box-shadow(-1px 2px 22px 12px $alfa40);
    @include bc-border-radius(2px);
    font-size: 15px;
    color: $bravo;
}

#bc-chat {
    height: 100%;
    width: 100%;
    background: url('../nightshade/images/background.jpg') no-repeat right bottom/cover;

    @include bc-box-sizing;

    input {
        padding-top: 3px;
        padding-bottom: 3px;
        background: none;
    }
}

#bc-queue-wrap {
    padding: 5px;
    width: 100%;
    background-color: $bravo50;
    color: $alfa;
    margin: auto;
    position: static;
}

#bc-queue-cancel-btn {
    color: $bravo;
    text-decoration: underline;
}

#bc-queue-cancel-btn:hover {
    text-decoration: none;
}

#bc-chat-history {
    padding: 0;
    margin-top: 40px;
    border-top: solid 1px $bravo;
}