
/*Lovato*/
.bc-chat-seperator {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 38px;

    z-index: 0;
    background-color: $bravo;

    filter: alpha(opacity=60); /* IE */
    -moz-opacity: 0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
}

#bc-chat-column {
    position: relative;
    height: 100%;
    float: none;
}
