button#bc-minimized-indicator,
button#bc-end-chat,
button#bc-min-chat {
    position: absolute;
    color: $bravo60;
    width: 30px;
    height: 30px;
    z-index: 10;
    top: 4px;
    background-color: transparent;
    @include bc-border-radius(50%);
    @include bc-transition(transform ease .5s, background 0.2s, color 0.2s, width .5s, height .5s);
    padding: 0;

    line-height: initial;
}

button#bc-end-chat {
    left: auto;
    right: 10px;
}

button#bc-min-chat {
    left: 10px;
}

#bc-minimized-indicator:hover,
button#bc-end-chat:hover,
button#bc-min-chat:hover {
    background: $bravo;
    color: $bc-color-theme-five;
}

#bc-minimized-indicator:focus,
button#bc-end-chat:focus,
button#bc-min-chat:focus {
    border: solid 1px $bc-color-theme-one-shade-one;
    outline: none;
}

#bc-minimized-indicator:after,
button#bc-end-chat:after,
button#bc-min-chat:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    @include bc-box-sizing(content-box);
    @include bc-border-radius(50%);
}

#bc-minimized-indicator:after {
    color: $bc-color-theme-one-shade-one;
}

#bc-min-chat-text {
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: -8px;
    opacity: 0;
    @include bc-transform(scale(0));
    @include bc-transition(all ease .2s);
}

button#bc-min-chat:hover {
    color: transparent;
    background: none;
    outline: none;
    border: none;
    @include bc-box-shadow(none);

    #bc-min-chat-text {
        @include bc-transform(scale(1));
        opacity: 1;
        color: $bravo;
    }
}

button#bc-min-chat.bc-minimized:hover {
    #bc-min-chat-text {
        display: none;
    }
}

button#bc-min-chat.bc-minimized {
    width: 50px;
    height: 50px;

    position: fixed;
    z-index: 99;
    background: $alfa60;
    color: $delta;
    top: auto;
    left: auto;
    bottom: 30px;
    right: 30px;
}

@include bc-keyframes(bc-pulse) {
    from {
        @include bc-transform(scale(0.6));
    }
    to {
        @include bc-transform(scale(1.2));
    }
}

.bc-minimized {
    button#bc-minimized-indicator.bc-notify {
        @include bc-animation(bc-pulse 1s ease 0s 3);

        span:before {
            content: $bc-fa-var-envelope;
        }
    }
}

.bc-ie {
    button#bc-min-chat:hover {
        left: 2px;
        text-indent: 10px;
        @include bc-border-radius(0);
        width: 100px;
    }
}
