.bc-star-label {
    margin-top: 10px;
    color: $bravo;
}

.bc-star {
    background-color: transparent;
}

.bc-star:before {
    font-size: 1.65em;
}

.bc-star:hover {
    background-color: $bc-color-theme-six;
}

.bc-ie {
    .bc-star {
        font-size: 0.65em;
    }
}

/***** CSS Magic to Highlight Stars on Hover *****/
.bc-starrating-component > .bc-star-val:checked ~ .bc-star,
    /* show gold star when clicked */
.bc-starrating-component:not(:checked) .bc-star:hover,
    /* hover current star */
.bc-starrating-component:not(:checked) .bc-star:hover ~ .bc-star {
    color: $bc-color-theme-two;
}

/* hover previous stars in list */
.bc-starrating-component > .bc-star-val:checked + .bc-star:hover,
    /* hover current star when changing rating */
.bc-starrating-component > .bc-star-val:checked ~ .bc-star:hover,
.bc-starrating-component > .bc-star:hover ~ .bc-star-val:checked ~ .bc-star,
    /* lighten current selection */
.bc-starrating-component > .bc-star-val:checked ~ label:hover ~ .bc-star {
    color: $bc-color-theme-one-shade-two;
}
