.bc-msg {
    border-bottom: solid 1px $bc-color-theme-four;
    margin: 0;
    background: none;
    color: $bravo;
}

.bc-msg-op img {
    max-width: 100%;
    height: auto;
}

.bc-msg-avatar {
    width: 40px;
    height: 41px;
    max-width: 50px;
    max-height: 51px;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    margin-top: 7px;
}

.bc-msg-avatar-op {
    background-image: url('../../images/operator.png');
}

.bc-msg-avatar-sys, .bc-msg-avatar-status {
    background-image: url('../../images/company-logo.jpg');
}

.bc-msg-avatar-vis {
    background-image: url('../../images/visitor.png');
}

.bc-msg-avatar-sys {
    margin-bottom: -50px;
    margin-left: 3px;
    //margin-top: auto;
    //width: 20%;
}

.bc-msg-time {
    float: none;
    padding-left: 3px;
}

$msg-height: 77px;

.bc-translation-toggle {
    color: $bc-color-theme-one-shade-two;
    font-size: 12px;
    cursor: pointer;
}

.bc-translation-toggle:hover {
    color: $bc-color-theme-one-shade-two;
}

.bc-translation-body {
    color: $bc-color-theme-three-shade-one;
}

.bc-msg-wrap, .bc-msg-wrap-op, .bc-msg-wrap-sys, .bc-msg-wrap-vis {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
}

.bc-msg-wrap-sys {
    div#microsoft_translate {
        height: auto !important;

        img {
            width: auto !important;
            height: auto !important;
            max-height: 2rem;
        }
    }
}

.bc-msg-time-wrap {
    color: $bc-color-theme-one;
    font-size: 0.7em;
    font-weight: bold;
}

.bc-msg-head-text-wrap {
    padding-left: 60px;
}

.bc-msg-txt {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bc-msg-name {
    color: $bc-color-theme-three-shade-two;
}