@import "../../../scss/mixins";
@import "color-constants";

.bc-input-placeholder {
    position: relative;
    display: block;
    margin-top: 5px;
    width: 100%;

    input, textarea {
        width: 100%;
        color: $bravo;
        padding: 0;
        margin-top: 5px;
        font-size: 15px;
        text-align: left;
        text-indent: 7px;
        vertical-align: baseline;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $bc-color-theme-one-shade-one;
        @include bc-transition(0.2s ease-in-out);

        &:hover,
        &:focus {
            border-color: $bc-color-box-shadow-dark-60;
            @include bc-box-shadow(inset 0 1px 1px $bc-color-box-shadow-75, 0 0 8px $bc-color-box-shadow-dark-60);
        }
    }

    input {
        height: 25px;
    }

    textarea {
        height: 50px;
        border-right: dashed 1px $bc-color-theme-one-shade-one;
        border-left: dashed 1px $bc-color-theme-one-shade-one;
    }

    label {
        color: $bravo50;
        position: absolute;
        top: 6px;
        left: 9px;
        font-size: 15px;
        cursor: text;
        @include bc-transition(0.2s ease-in-out);
    }

    textarea + label {
        top: 15px;
    }

    input:focus + label,
    textarea:focus + label,
    input.bc-not-empty + label,
    textarea.bc-not-empty + label {
        font-size: 12px;
        top: -12px;
        color: $bravo50;
    }

    textarea:focus,
    textarea.bc-not-empty {
    }

}

