#bc-typing {
    font-weight: 100;
    font-size: 10pt;

    padding: 5px;
    width: 100%;
    background-color: $bravo50;
    color: $bravo;
    margin: auto;
    position: static;
}

.bc-typing-avatar {
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
}