/***** End of Input Elements *****/
.bc-button {
    display: inline-block;
    width: 47px;
    height: 50px;

    cursor: pointer;
    vertical-align: middle;
    font-size: 12px;
    background-color: $bc-color-theme-four;
    color: $bravo;
    border: none;
    @include bc-border-radius(4px);
    @include bc-transition(all ease .3s);
}

.bc-button:hover,
.bc-button:focus,
.bc-button:active {
    color: $bravo;
    background-color: $bc-color-theme-one;
    border-color: $bc-color-theme-one-shade-two;
    @include bc-box-shadow(inset 0 1px 1px $bc-color-theme-one-shade-one, 0 0 8px $bc-color-theme-one);
}

.bc-action-button {
    width: 100%;
    min-height: 35px;
}

.bc-action-button-span {
    padding: 10px;
    display: block;
}

/* Effect 1 */
.bc-effect-1 {
    background: $bravo20;
    @include bc-transition(background 0.2s, color 0.2s);
}

.bc-effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    opacity: 0;
    @include bc-box-shadow(0 0 0 4px);
    @include bc-transition(transform 0.2s, opacity 0.2s);
    @include bc-transform(scale(1.2));
}

/* Effect 1b */
.bc-effect-1:hover {
    background: $bravo;
}

.bc-effect-1:hover:after {
    @include bc-transform(scale(1));
    opacity: 1;
}

.bc-button-text-span {
    font-size: 22px;
    float: none;
    margin: 0;
    min-height: initial;
    line-height: initial;
}

#bc-chat {
    ::-webkit-scrollbar {
        width: 12px;
        background: #fff;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}

div.bc-input-container-select {
    overflow: hidden;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wcKEiQ7rWBHsgAAAJZJREFUKM/NkrEKwlAMRU9FeUKl39TRoYO1gw7tcL8sqwriaH/ITxAUB7tkEHnDqyh415McQhL4RSQVn7BYJpLWwEVSFZFVzupkIdACC2AnqXyRlcDeWZcqnAIb4ACsgF5S4+wIBODkNUnJfJq5Ny6Bq7McOAO1md1HCSNSgN5ltzFHyd6OMPO9PYGtmT2+8UJBUuBfMgDxBil08D7MnwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: right;
    background-size: 20px 10px;
    border: none;
    cursor: pointer;
}

.bc-input-container-select select {
    cursor: pointer;
    color: $bravo;
    background: transparent;

    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    padding-left: 5px;

    font-size: 15px;
    line-height: 25px;

    border: 0;
    @include bc-border-radius(0);
    border-bottom: 1px solid $bc-color-theme-one-shade-one;

    outline: 0;
    overflow: auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    optgroup, option {
        color: $alfa;
    }

    option[disabled=true] {
        color: $bc-color-theme-three-shade-three;
    }
}

.bc-ie9 {
    .bc-input-container-select select {
        background-color: $alfa;
    }

    optgroup, option {
        color: $bravo !important;
    }
}