$bc-color-theme-one: #3c9538;
$bc-color-theme-one-shade-one: rgba(60, 149, 56, .75);
$bc-color-theme-one-shade-two: rgb(42, 105, 39);
$bc-color-theme-two: $bc-color-theme-one;
$bc-color-theme-three-shade-one: rgb(150, 150, 150);
$bc-color-theme-three-shade-two: rgb(170, 170, 170);
$bc-color-theme-three-shade-three: #667;
$bc-color-theme-four: #295641;
$bc-color-theme-five: $bc-color-theme-one;
$bc-color-theme-six: rgb(0, 128, 0);

$bc-color-error: rgb(255, 100, 100);

$bc-color-box-shadow-75: rgba(0, 0, 0, .075);
$bc-color-box-shadow-dark-60: rgba(102, 175, 233, .6);

