@import "../../../scss/mixins";
@import "color-constants";

#bc-form-wrapper {
    .bc-msg-wrap-sys {
        /*margin-left: 0;
        margin-top: -45px;*/
    }

    .bc-action-button {
        background-color: $evening;
        color: $morning;
        font-size: 12px;
        padding: 15px;
        border: 0;
        width:100%;

        @include bc-transition(0.2s ease-in-out);

        &:hover {
            color: $midnight;
            @include bc-transition(0.2s ease-in-out);
        }
    }

    .bc-form-intro {
        font-size: 22px;
        color: #5ba5d1;
    }

}

.bc-header1 {
    font-size: 22px;
    color: #5ba5d1;
    font-weight: 100;
    text-align: left;
}

.bc-header2 {
    font-size: 12px;
    color: #918d8b;
    font-weight: 100;
    text-align: left;
}

.bc-input-container.bc-form-intro {
    width: auto;
    float: none;
    padding-bottom: 15px;
}

.bc-validator {
    padding-bottom: 10px;
    display: none;

    li {
        color: $bc-color-error;
    }
}

.bc-help-message {
    padding-bottom: 25px;
}

.bc-input-container {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.bc-input-container-select {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wcKEiQ7rWBHsgAAAJZJREFUKM/NkrEKwlAMRU9FeUKl39TRoYO1gw7tcL8sqwriaH/ITxAUB7tkEHnDqyh415McQhL4RSQVn7BYJpLWwEVSFZFVzupkIdACC2AnqXyRlcDeWZcqnAIb4ACsgF5S4+wIBODkNUnJfJq5Ny6Bq7McOAO1md1HCSNSgN5ltzFHyd6OMPO9PYGtmT2+8UJBUuBfMgDxBil08D7MnwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-color: $morning;
    background-position: right;
    background-size: 20px 10px;
    border: 1px solid $evening;
}

.bc-input-container-select select {
    margin: 10px;
    background: transparent;
    width: 104%;
    padding: 0;
    font-size: 15px;
    line-height: 25px;
    height: 25px;
    border: 0;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    option[disabled=true] {
        color: $storm;
    }
}

.bc-action-input-container {
    text-align: center;
}

.bc-invalid {
    select,
    input + label,
    textarea + label {
        color: $bc-color-error;
    }
}

.bc-nps-message-left,
.bc-nps-message-right {
    width: 50%;
    min-width: 50%;
    white-space: normal;
}

.bc-label-and-star {
    min-height: 25px;
}

.bc-star-label {
    width: 50%;
}

.bc-star:before {
    font-size: 22px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0;
    margin-top: 0;
}

.bc-ie {
    .bc-star-label {
        margin-top: 2px;
    }

    .bc-star:before {
        font-size: 18px;
    }
}
