@import "../../../scss/mixins";
@import "color-constants";
@import "bc-font-family";

#bc-layered-chat,
#bc-popup-chat {
    @include bc-box-shadow(-1px 2px 22px 12px $alfa40);
    background-color: $afternoon;
    @include bc-transition(all 0.5s ease-in-out);
}

a {
    color: #777;

    &hover {
        color: #000;
    }
    &:active {
        color: #999;
    }
}
