@import "../../../scss/mixins";
@import "color-constants";

#bc-minimized-indicator {
    display: none;
    width: 50px;
    height: 50px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmlJREFUeNrsmTFPwkAUgGspQaOg0YAxUaOTsR10hDiasDrhH5BfwGAcHFx18BfIbCKbo6PRwOCgAywkJioJIUpURLGCYM+8LoaWe+21Fr2XvO16976+d+/evRvodDrCXxBR+CPCQTiIQyIxnGta0xiooqlsMK6gaV7TLGiJxeIDDLIWMTypadzi9yeaHgDUr4AQgJSmUUYezWm6bxXICkgIADYcCvc0ANWcBCEQGZP4ZyVkHyUwMJispYD7ZReSkAxrKaw9EoKJgy5n1RfYgzUWHtHDyW0IAdbMgA22QVIuhZNZmKXshhZJsUceObzXzVKzSOENr0jKamjFGB52LCQKNqFrrSTtCvX3lnh0UQ6VXj78WOuGJLEdX5ioL82GVIrhSaPwMtoj05hSYeu4OHn3qvrt/O7Nldl7SphYt0JTMhlMJVe3tYAOsb4YeZobH2xiAA4vK2Pk+7Prx2EESIY5iC4LY0Pq2nKkbsEZT3vnt+Fqo+VDFKsZ2s2uCN4VBZO1ZA+DyPzOzkE4CAfpetX0qhQwIHm3rCInOvKTPKZozMLlHyXFypt/9/Qm3Gh9okN2aSrYoByaxXgE3Vt6aLQkqxCrM6N1RHmTxXiEVJekA0jdPayqze9aaWY40NyOz9+PDEptByLxRDBosZr9vQPsKg5DmNok9nBhzkMQOTt39n2PQPS0haZBtyOY9HnLz6oUDPjaDkOkwQ5bIG71e80OwJ594H/VMhVgogRM7CYEdUcec3jl4e8UXAqnKKZUwp7CumfSDm9s1NsIZo8YdTP6+umtG1BfP4b+lL5/nuZXXQ7CQfpAvgQYAEPQ3G4B2YOSAAAAAElFTkSuQmCC');
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 40px;
    @include bc-box-shadow(-1px 2px 30px 3px $alfa40);
    @include bc-transition(all 0.5s ease);
}

#bc-layered-chat.bc-minimized {
    height: 0;
    @include bc-box-shadow(none);
}

.bc-minimized {

    #bc-minimized-indicator {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        text-align: center;
        color: $morning;

        &:hover {
            color: $nightfall;
            @include bc-box-shadow(-1px 2px 30px 3px $alfa);
        }

        &.bc-notify {
            @include bc-animation(bc-pulse 1s ease-out 0s 3);

            &::before {
                text-align: center;
                font-weight: bold;
                font-size: 25px;
                text-transform: uppercase;
                content: "!";
                line-height: 45px;
            }
        }
    }

    #bc-chat-actions {
        display: none;
    }
}

@include bc-keyframes(bc-pulse) {
    0% {
        @include bc-transform(scale(1, 1));
    }
    50% {
        @include bc-transform(scale(1.5, 1.5));
        opacity: 0.8;
    }
    100% {
        @include bc-transform(scale(1, 1));
    }
}
