.bc-msg-avatar-halo {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid#aaa;
    border-radius: 50%;
    padding: 3px;
    background-color: transparent;
}

.bc-msg-avatar {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin: 0;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.bc-msg-avatar-op {
    background-image: url('../../images/operator.png');
}

.bc-msg-avatar-sys {
    background-image: url('../../images/operator.png');
}

.bc-msg-avatar-vis {
    background-image: url('../../images/visitor.png');
}

.bc-msg-avatar-status {
    background-image: url('../../images/operator.png');
}

.bc-msg-vis {
    .bc-msg-avatar-halo {
        left: auto;
        right: 0;
        border-color: #4cb7ef;
    }
}
