$triangle-size: 13px;
$avatar-gap: 50px;

.bc-msg {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    background-color: transparent;
}

.bc-msg-bubble {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    border-bottom: 1px solid #DDDDDD;
    margin-left: $avatar-gap;
}

.bc-msg-op img {
    max-width: 100%;
    height: auto;
}

.bc-msg-bubble-triangle {
    height: 0;
    width: 0;
    border-top: $triangle-size solid transparent;
    border-right: $triangle-size solid #FFF;
}

.bc-msg-bubble-vis {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: $avatar-gap;

    .bc-msg-bubble-triangle {
        border-top: $triangle-size solid transparent;
        border-right: none;
        border-left: $triangle-size solid #4cb7ef;
    }
}

.bc-msg-txt-vis {
    color: #fff;
}

.bc-msg-wrap-op, .bc-msg-wrap-sys, .bc-msg-wrap-vis {
    background-color: #FFF;
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid #DDDDDD;
    margin-left: $avatar-gap + $triangle-size;
}

.bc-msg-wrap-vis {
    background-color: #4cb7ef;
    margin-left: 0;
    margin-right: $avatar-gap + $triangle-size;
}

.bc-msg-time {
    float: none;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding-top: 10px;
}

.bc-msg-time-vis {
    color: rgba(255, 255, 255, 0.5);
}
