@import "mixins";

.bc-msg {
    margin: 10px;
    padding: 10px;
    background-color: #FFF;
}

.bc-msg-avatar {
    object-fit: cover;
    max-width: 36px;
    max-height: 36px;
    float: left;
    margin-right: 10px;
    -webkit-background-origin: border-box;
    background-origin: border-box;
    @include bc-box-sizing(initial);
}

.bc-msg-time {
    float: right;
}
