.bc-star-label {
    float: left;
    margin-top: 8px;
    width: 50%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.bc-starrating-component {
    float: right;
    display: inline-block;
    width: 50%;
}

.bc-star-val {
    float: right;
    display: none !important;
}

.bc-star:before {
    margin: 3px;
    font-weight: bold;
    font-size: 1.35em;
    display: inline-block;
    content: $bc-uc-var-star;
}

.bc-star {
    color: gray;
    float: right;
    cursor: pointer;
    padding: 0;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.bc-starrating-component > .bc-star-val:checked ~ .bc-star,
    /* show gold star when clicked */
.bc-starrating-component:not(:checked) .bc-star:hover,
    /* hover current star */
.bc-starrating-component:not(:checked) .bc-star:hover ~ .bc-star {
    color: $hotel-shade-one;
}


/* hover previous stars in list */
.bc-starrating-component > .bc-star-val:checked + .bc-star:hover,
    /* hover current star when changing rating */
.bc-starrating-component > .bc-star-val:checked ~ .bc-star:hover,
.bc-starrating-component > .bc-star:hover ~ .bc-star-val:checked ~ .bc-star,
    /* lighten current selection */
.bc-starrating-component > .bc-star-val:checked ~ label:hover ~ .bc-star {
    color: $hotel-shade-two;
}

.bc-label-and-star {
    clear: both;
}