.bc-form-intro {
    padding-bottom: 10px;
    text-align: center;
}

div.bc-input-container {
    clear: both;
    padding-bottom: 0;
}

.bc-input-container.bc-form-intro {
    padding-bottom: 7px;
}

.bc-input-label {
    margin-right: 10px;
    vertical-align: top;
}

.bc-input-container > select {
    width: 100%;
    margin: initial;
}

#bc-chat label {
    font-weight: normal;
    line-height: initial;
    text-align: left;
}

#bc-chat input {
    height: initial;
    line-height: initial;
    text-align: left;
}