@import "mixins";
@import "color-constants";

#bc-chat-actions {
    background-color: $bravo50;
    width: 100%;
    position: absolute;
    bottom: -110px;
    display: inline-block;
    border-top: solid 1px $echo;
    @include bc-transition(height ease-in-out 0.2s);

    .bc-table {
        display: table;
        width: 100%;
    }

    .bc-row {
        display: table-row;
        width: 100%;
        height: 100%;
    }

    .bc-cell {
        display: table-cell;
        padding: 5px;
        height: 100%;
        width: 100%;
        vertical-align: top;
    }

    .bc-cell-left {
        position: relative;
    }

    .bc-cell-right {
        white-space: nowrap;
    }
}

#bc-send-msg-text {
    width: 100%;
    height: 56px;
    resize: none;
}

textarea#bc-send-msg-text {
    background: $bravo !important;
}

#bc-end-chat {
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
}

#bc-popup-chat #bc-min-chat {
    display: none;
    visibility: hidden;
}

#bc-min-chat {
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
}

#bc-send-msg-btn {
    height: 62px;
    outline: none;
    padding: 0;
    margin: 0;
}

