$alfa: rgba(0, 0, 0, 1);
$alfa40: rgba(0, 0, 0, 0.40);
$alfa60: rgba(0, 0, 0, 0.60);
$bravo: rgba(255, 255, 255, 1);
$bravo20: rgba(255, 255, 255, 0.20);
$bravo50: rgba(255, 255, 255, 0.50);
$bravo60: rgba(255, 255, 255, 0.60);
$bravo70: rgba(255, 255, 255, 0.70);
$charlie: rgba(43, 58, 66, 1);
$delta: rgba(211, 211, 211, 1);
$echo: rgba(187, 187, 187, 1);
$foxtrot: rgba(21, 21, 21, 1);
$golf: rgba(238, 238, 238, 1);
$hotel-shade-one: #FFD700;
$hotel-shade-two: #FFED85;
$bc-color-error: rgb(255, 100, 100);
