@mixin bc-border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin bc-animation($animParms...) {
    -webkit-animation: $animParms;
    -moz-animation: $animParms;
    -o-animation: $animParms;
    animation: $animParms;
}

@mixin bc-transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin bc-transition($transitionParms...) {
    -webkit-transition: $transitionParms;
    -moz-transition: $transitionParms;
    -ms-transition: $transitionParms;
    -o-transition: $transitionParms;
    transition: $transitionParms;
}

@mixin bc-font-smoothing($fontSmoothType: antialiased, $mozFontSmooth: grayscale) {
    -webkit-font-smoothing: $fontSmoothType;
    -moz-osx-font-smoothing: $fontSmoothType;
    text-rendering: optimizeLegibility;
}

@mixin bc-box-shadow($boxShadowParms...) {
    -webkit-box-shadow: $boxShadowParms;
    -moz-box-shadow: $boxShadowParms;
    box-shadow: $boxShadowParms;
}

@mixin bc-box-sizing($boxSizing: border-box) {
    -webkit-box-sizing: $boxSizing;
    -moz-box-sizing: $boxSizing;
    box-sizing: $boxSizing;
}

@mixin bc-background($fallBackColor, $from, $to) {
    /* fallback */
    background-color: $fallBackColor;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, $from, $to);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, $from, $to);
    /* IE 10 */
    background: -ms-linear-gradient(top, $from, $to);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, $from, $to);
}

// keyframes mixin
@mixin bc-keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
